@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer primereact {
    @import '~/primereact/resources/primereact.min.css';
    @import '~/primeicons/primeicons.css';
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* Global Styles */
body {
    @apply bg-gradient-to-br from-[#001100] to-[#002200];
    font-family: 'Inter var', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #001800;
}

::-webkit-scrollbar-thumb {
    background: #004d00;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #006600;
}
.max-w-7xl{
    max-width: 100% !important;
}